.header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  h1 {
    font-size: var(--font-xlarge);
    font-weight: 600;
  }

  nav {
    margin-top: 1rem;

    display: flex;
    font-size: var(--font-medium);

    border-width: 2px 0;
    border-color: var(--color-fg);
    border-style: solid;

    font-variant: all-small-caps;

    * {
      padding: .4rem;
      flex-grow: 1;

      &:hover {
        background-color: var(--color-aqua);
      }
    }
  }
}