---
import Layout from "../layouts/Layout.astro";

import fs from "fs";

const options = JSON.parse(fs.readFileSync("public/options.json"));
---

<Layout title="Options">
  <p>
    There {options.length == 1 ? "is" : "are"}
    {options.length} option{options.length == 1 ? "" : "s"}
  </p>

  <p>TODO: Make some sort of option tree.</p>
</Layout>
